body {
	margin: 0;
}


.header-menu {
	float: right;
	margin-right: 100px;
	display: inline-block;

}

.header-details {
	text-align: center;
	padding-top: 50px;
}

.header {
	padding-top: 20px;
	padding-bottom: 50px;
}

.price-range {
	display: inline-block;
	float: right;
	margin-right: 230px;
	width: 200px;
	position: relative;
}



.select-menu {
	display: inline-block;
	margin-left: 100px;
}

select {
	margin-right: 20px;
	border-style: none;
}

.logo {
	margin-left: 70px;
	display: inline-block;
}

i {
	font-size: 25px;
}

ul {
	list-style: none;
}
a {
	margin-left: 10px;
}
li.dot::before {

	content: "\2022"; 
	color: red;
	margin-left: 10px;
}

li {
	display: inline-block;
}


label {
	position: absolute;
	top: 0px;
	right: 250px;
	
}

.amount1 {
	position: absolute;
	top: 0px;
	right: 215px;
}
.amount2 {
	position: absolute;
	top: 0px;
	right: -45px;
}
.ui-slider-handle, .ui-state-default, .ui-corner-all, .ui-state-hover {
	border-radius: 25px;
}


.slider-range .ui-slider-handle.ui-state-default.ui-corner-all {
	border-radius: 25px;
}



