body {
	margin: 0;
	font-family: 'ABeeZee';
}

h1 {
	font-size: 40px;
}
.header-menu {
	display: inline-block;
  margin-left: auto;
  margin-right: 0;
  font-size: 13px;
  font-weight: 400;
  cursor: pointer;
}

.header-details {
	text-align: center;
	padding-top: 50px;
}

.zig-zag {
	display: flex;
	flex-wrap: wrap;
}


.header {
	padding-top: 20px;
	padding-bottom: 70px;
	background-image: url('./assets/background-image-bar.jpg');
	background-repeat: no-repeat, repeat;
	background-size: cover;
	color: white;
}

.price-range {
	display: flex;
	font-size: 12px;
	margin-left: auto;
	align-items: center;
}


.sorting-menu {
	background-color: rgb(240,240,242);
  font-size: 15px; 
}

.select-menu {
	display: flex;
	justify-content: space-around;
	width: 100%;
	max-width: 450px;
	font-size: 10px;
}

select {
	margin-right: 20px;
	border-style: none;
	background-color: rgb(240,240,242);
	-webkit-appearance: none; 
  -moz-appearance: none;
  appearance: none;       
}


.logo {
	display: flex;
	cursor: pointer;
}

i {
	font-size: 25px;
}

ul {
	list-style: none;
}
.div-a {
	margin-left: 15px;
	word-wrap: break-word;
	max-width: 70px;
}

li.dot::before {

	content: "\2022"; 
	color: rgb(253,133,0);
	margin-left: 15px;
}

li {
	display: inline-block;
}


label {
	margin-right: 5px;
	font-weight: bold;
}

.amount1 {
	
	color: #808080;
	font-weight: 600;
	margin-left: 5px;
	margin-right: 5px;
}
.amount2 {
	
	color: #808080;
	font-weight: 600;
	margin-left: 5px;
}
.ui-slider-handle, .ui-state-default, .ui-corner-all, .ui-state-hover {
	border-radius: 25px;
}


.slider-range .ui-slider-handle.ui-state-default.ui-corner-all {
	border-radius: 25px;
}

.products {
	display: flex;
  flex-wrap: wrap;
  padding: 50px 0;
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
}

.product {
	width: 24%;
	text-align: center;
	cursor: pointer;
	background-color: white;
	border-right: 1px solid rgb(240,240,242);
	padding-bottom:10px;
}

.product:nth-child(4n) {
	border-right: none;
}
.product:nth-child(-n+4) {
	border-bottom: 1px solid rgb(240,240,242);
}

.product:hover {
	transform: scale(1.10);
	border:  1px solid rgb(240,240,242);
	border-radius: 2px;
}
.product-image {
	width: 150px;
	height: 150px;
}


.product-title {
	display: block;
	font-weight: bold;
	font-size: 15px;
}

.product-type {
	display: block;
	color: rgb(192,192,192);
	font-weight: 500;
	font-size: 13px;
}

.product-price {
	display: block;
	color: rgb(253,133,0);
	font-weight: bold;
}

.item-info {
	margin-bottom: 5px;
}

.fa-coffee {
	color: rgb(253,133,0);
	padding-top:5px; 
}

.ui-widget-header {
	background-color: rgb(253,133,0) !important;
}

.fa-angle-down {
	color: rgb(253,133,0); 
	font-size: 14px;
	cursor: pointer;
}




.slider-range .ui-slider-handle.ui-state-default.ui-corner-all {
	width: 12px !important;
	height: 12px !important;
	outline: none;
	cursor: pointer;
}

.ui-widget.ui-widget-content {
	height: 5px !important;
	width: 175px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
}

.ui-slider-horizontal .ui-slider-range { 
	height: 5px; 
}
.menu-container {
	max-width: 940px;
  width: 100%;
  margin: 0 auto;
  display: flex;
}

.header-top {
	max-width: 940px;
  display: flex;
  width: 100%;
  margin: 0 auto;
}

.select {
	
	background-color: rgb(240,240,242);
	font-size: 12px;
	font-weight: bold;
	font-family: 'ABeeZee';
	cursor: pointer;
	margin-right: 5px;
}




.dropdown {
  display: none;
  margin: 0;
  padding: 0;
  background-color: rgb(240,240,242) ;
  position: absolute;
  width: 100%;
  transform: translateY(34px);
  cursor: pointer;
  top: 0;
  right: 0;
}

.drop-content {
  display:none;
}

#drop:hover > ul{
  display: block;
}

#drop {
  text-align:center;
  margin: 0;
  position: relative;
  padding: 10px 0;
  width: 100%;
}

.drop-li {
  list-style: none;
  text-align: center;
  display: block;
  font-size: 12px;
  padding: 5px;
}

.drop-li:hover {
  background-color: rgb(253,133,0);
}

#drop input::after {
	width: 100%;
}

.price-range .ui-widget.ui-widget-content {
	margin-top: 0;
}

li a {
	margin-left: 15px;
}


footer {
  background-color: rgb(240,240,242);
  height: 170px;
}

.footer-container {
	display: flex;
	flex-wrap: wrap;
	max-width: 1080px;
	width: 100%;
	margin: 0 auto;
}

.customer-li {
  margin-bottom: 5px;
  font-size: 13px;
  color: #808080;
  font-weight: bold;
  display: block;
  text-align: center;
  cursor: pointer;
}

h3 {
	text-align: center;
}

ul {
	padding: 0;
	text-align: center;
}
.footer-details {
	width: 33.33%;
}

.acounts {
	margin-right: 10px;
	cursor: pointer;
}



